<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wander | Placelist</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="../static/styles/main.css">

    <!-- main.js -->
    <script type=text/javascript src="{{
        url_for('static', filename='js/main.js') }}"></script>

</head>

<body>
    <!-- 상단 로고 -->
    <div class="header">
        <h1>Wanderer</h1>
        <button type="button" class="btn btn-primary">로그인</button>
    </div>

    <!-- 카드 컬럼 -->
    <div class="flex-grid">
        {% for placelist in lists %}
            {# 서버에서 받아온 데이터들 변수에 할당#}
            {% set imageURL = placelist['imageURL'] %}
            {% set placeName = placelist['placeName'] %}
            {% set location = placelist['location'] %}

            <div class="flex-grid-item">
                <div class="card">
                    <img class="card-image-top" src="{{ imageURL }}" alt="imageURL">
                    <div class="card-top">
                        <div class="left">
                            <h6 class="card-subtitle text-muted">
                                <i class="fa fa-heart" aria-hidden="true">
                                    <span id="likeCount" style="margin-right: 15px">
                                        20명이 좋아합니다.
                                    </span>
                                </i>
                            </h6>
                            <h5 class="card-title1">
                                {{ placeName }}
                            </h5>
                        </div>
                        <div class="right">
                        {% for list in liked_list %}
                           {% if list['placeName'] == placeName %}
                               <!-- 좋아요'누른 내역이 있을시 색깔있는 하트 출력-->
                                <i onclick="toggle_like('{{ placeName }}','unlike')" class="fa fa-heart" aria-hidden="true"></i>
                           {% else %}
                               <!-- 좋아요'누른 내역이 있을시 색깔있는 하트 출력-->
                                <i onclick="toggle_like('{{ placeName }}','like')" class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                            {% endif %}
                        {% endfor %}
                        <!-- likedUser 리스트가 없을 시 빈 하트 출력 -->
                        {% if liked_list.count() == 0 %}
                             <i onclick="toggle_like('{{ placeName }}','like')" class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                        {% endif %}
                        </div>
                    </div>

                    <h6 class="card-subtitle text-muted">
                        <i class="fa fa-map-marker" aria-hidden="true"><span style="margin-left: 10px">{{ location }}</span></i>
                    </h6>
                </div>
            </div>
        {% endfor %}
    </div>
</body>

</html>