<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wander | Placelist</title>

    <!-- logo font -->
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="../static/styles/main.css">

    <!-- mainModal.css -->
    <link rel="stylesheet" href="../static/styles/mainModal.css">

    <!-- messageModal.css -->
    <link rel="stylesheet" href="../static/styles/messageModal.css">

    <!-- toPath.js -->
    <script type=text/javascript src="{{
            url_for('static', filename='js/toPath.js') }}"></script>

    <!-- cookie.js -->
    <script type=text/javascript src="{{
        url_for('static', filename='js/cookie.js') }}"></script>

    <!-- modal.js -->
    <script type=text/javascript src="{{
        url_for('static', filename='js/modal.js') }}"></script>

    <!-- toggleLike.js -->
    <script type=text/javascript src="{{
            url_for('static', filename='js/toggleLike.js') }}"></script>

    <!-- likedList.js -->
    <script type=text/javascript src="{{
        url_for('static', filename='js/likedList.js') }}"></script>

    <!-- deletePlace.js -->
    <script type=text/javascript src="{{
        url_for('static', filename='js/deletePlace.js') }}"></script>
</head>

<body>
    <!-- 상단 로고 -->
    <div class="header">
        <p id="logo" class="biglogo">W a n d e r e r</p>
        <!-- appending from loginCheck -->
        <div id="dropdown-content">
            <button type="button" class="btn btn-light dropdown-button"><i class="fas fa-caret-down"></i></button>
            <!-- appending from loginCheck -->
        </div>
    </div>


    <!-- 카드 컬럼 -->
    <div class="flex-grid">
        {# jinja2를 이용하여 좋아요 기준 내림차순 출력#}
        {% for placelist in lists | sort(attribute='liked_count', reverse = True) %}
        <div class="flex-grid-item" id="card-item">
            <div class="card">
                <img class="card-image-top" src="{{ placelist['imageURL'] }}"
                    onerror="this.src = '/static/img/img_not_found.PNG';" alt="imageURL">
                <div class="card-top">
                    <div class="left">
                        <h6 class="card-subtitle text-muted">
                            <i class="fa fa-heart" aria-hidden="true">
                                <span id="likeCount" class="show-likes"
                                    onclick="likedList( `{{placelist['placeName']}}` );">
                                    <!-- '좋아요' 수 출력하기 -->
                                    {{placelist['likedUser']|length}}
                                    명이 좋아합니다.
                                </span>
                            </i>
                        </h6>
                        <h5 class="card-title1">
                            {{ placelist['placeName'] }}
                        </h5>
                        <h6 class="card-subtitle text-muted">
                            <i class="fa fa-map-marker" aria-hidden="true"><span style="margin-left: 10px">{{
                                    placelist['location']
                                    }}</span></i>
                        </h6>
                    </div>
                    <div class="right">
                        {% if placelist['created'] %}
                        <!-- 본인이 만들었을 경우 삭제 버튼 출력 -->
                        <i onclick="deletePlace(`{{ placelist['placeName'] }}`)" class="far fa-trash-alt fa-lg"
                            aria-hidden="true"></i>
                        {% elif placelist['liked'] %}
                        <!-- 좋아요'누른 내역이 있을시 색깔있는 하트 출력-->
                        <i id="like" onclick="toggle_like(`{{ placelist['placeName'] }}`,'unlike')"
                            class="fa fa-heart fa-lg" aria-hidden="true"></i>
                        {% else %}
                        <!-- 좋아요'누른 내역이 없을 시 색깔없는 하트 출력-->
                        <i id="unlike" onclick="toggle_like(`{{ placelist['placeName'] }}`,'like')"
                            class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        <!-- 더미 div -->
        <div class="flex-grid-item"></div>
        <div class="flex-grid-item"></div>
        <div class="flex-grid-item"></div>
        <div class="flex-grid-item"></div>
        <div class="flex-grid-item"></div>
        <div class="flex-grid-item"></div>
    </div>

    <!-- 모달 위치 -->
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                좋아요
                <div onclick='closeModal()' class="close-area">
                    <i class="fas fa-times"></i>
                </div>
                <hr>
            </div>
            <div class="content">
                <!-- appending from likedList.js -->
            </div>
        </div>
    </div>

    <!-- 메시지 모달 위치 -->
    <div id="msg-modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                메시지
                <div onclick='closeMsgModal()' class="close-area">
                    <i class="fas fa-times"></i>
                </div>
                <hr>
            </div>
            <div class="content">
                <!-- appending from modal.js -->
            </div>
        </div>
    </div>
</body>

<!-- loginCheck.js -->
<script type=text/javascript src="{{
        url_for('static', filename='js/loginCheck.js') }}"></script>

</html>